*{
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
select:hover{
  cursor: pointer;
}

button:hover{
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}
html{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}

body{
  width: 100%;
  height: auto;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: red;
  text-decoration: none;
}

a:hover{
  color: green;
  cursor: pointer;
}

.active{
  background-color: red;
}