
.loading img{
    width: 198px;
    height: 206px;
    animation: loader 3s linear infinite;
}


@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}