.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scoresDanger {
    color: black
}

.scoresGood {
    color: black;
}

.scoresYellow {
    color: black;
}

.renderRecipes {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: red;
    font-weight: 700;


}

.CardRecipe {

    border-radius: 15px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 10px;
    padding-right: 3px;
    width: 320px;
    color: rgba(0, 0, 0, 0.745);
    box-shadow: 2px 2px 2px 1px rgb(73, 72, 72);
    background-color: rgb(255, 255, 255);
}


.CardRecipe p {
    margin: 10px;
}

.CardRecipe h3 {

    margin: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.745);
}

.CardRecipe img {
    border-radius: 10px;
}

.CardRecipe h5 {
    color: rgba(0, 0, 0, 0.745);
}

.scoreMore {
    display: flex;
    justify-content: space-between;
}

.diets {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.745);
}

.dishTypes {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.745);
}