body{
    width: 100%;
    height: auto;
}

.cardRecipe{
    color: white;
    margin: auto;
    margin-top: 80px;   
    width: 950px;
    border-radius: 15px;
    padding: 10px;
    padding-right: 3px;
    color: rgba(0, 0, 0, 0.745);
    background-color: rgb(253, 248, 248);
  
}
.cardRecipe img{

    border-radius: 5px;
    margin-right: 20px;
   
   
}

.cardRecipe h2{
    max-width: 500px;
    text-align: center;
    color: rgba(0, 0, 0, 0.745);
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 10px;
}
.cardRecipe h4{
    margin-right: 10px;
}
.cardRecipe h5{
    color: rgba(0, 0, 0, 0.745);
    margin-top: 10px;
    margin-bottom: 10px;
}
.nameButton{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}
.nameButton button{
    width: 28px;  
    height: 27px;
    background-color: red;
    color:white;
    font-weight: 600;
    border-radius: 4px;
    margin-right: 5px;
}
.nameButton button:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
}
.firstData{
    display: flex;
    
}

.diets{
    color: rgba(0, 0, 0, 0.745);
    display: flex;
   
    align-items: center;
    margin-bottom: 10px;
}

.summary{
    width: 500px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.745);
    margin-right: 20px;
}
.summary h4{
    color: rgba(0, 0, 0, 0.745);
    font-size: 15px;
}
.stepsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.steps{
    width: 800px;
    color: rgba(0, 0, 0, 0.745);
    margin-left: 40px;
    margin-right: 50px;
    display: flex;
    margin-bottom: 10px;
}
.steps h4{
    color: rgba(0, 0, 0, 0.745);
    
}
.imgNoSteps{
    margin: left 500px;
}

.loading{
    font-display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 180px;
    margin-left: 40%;
    
}

.deleteButton{
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 5px;
    
}

.deleteButton:hover{
    cursor: pointer;
    background-color: yellow;
    color: black;
}