.container{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}




.buttons{
    background-color: transparent;
    color: rgba(245, 245, 245, 0.748);
    border: none;
    font-weight: 600;
    margin-left: 15px;
    border-radius: 50%;
    width: 25px;
 
}

.buttons:hover{
    background-color: yellowgreen;
    color: black;
    animation: scale 3s linear infinite;
}

@keyframes scale{
    0%{
        transform: scale(1.2);
    }
    20%{
        transform: scale(1);
       
    }
    40%{
        transform: scale(1.2);
    }
    60%{
        transform: scale(1);
        
    }
    100%{
        transform: scale(1.2);
    }
}